// colors
$colors: (
  'primary': #db9e3f,
  'info': #4b67af,
  'danger': #791a15,
  'blue': #4394e4,
  'white': #fff,
  'gray-100': #f8f9fa,
  'gray-200': #e9ecef,
  'gray-300': #dee2e6,
  'gray-400': #ced4da,
  'gray-500': #adb5bd,
  'gray-600': #6c757d,
  'gray-700': #495057,
  'gray-800': #343a40,
  'gray-900': #212529,
  'black': #000 
);

$border-color: map-get($map: $colors, $key: 'gray-300');

// font size
$font-size-base: 1rem;
$font-sizes: (
  xxs: .16 /* 8/50 */,
  xs: .2 /* 10/50 */,
  sm: .24 /* 12/50 */,
  md: .26 /* 13/50 */,
  lg: .28 /* 14/50 */,
  xl: .32 /* 16/50 */
);

// flex
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);

$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);

// spacing  margin padding
$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-size-base: 0.3rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
