html {
  font-size: 13px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f1f1ff;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: #999;
}
