html {
  font-size: 50px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .26rem /* 13/50 */;
  line-height: 1.5;
  background-color: #f1f1ff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
  word-break: break-all;
  word-wrap: break-word;
}

p {
  margin: 0;
}

a {
  color: #999;
  text-decoration: none;
}

img {
  max-width: 100%;
}
